!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title sinblog
    %link{ :rel => "stylesheet", :type => "text/css", :href => "stylesheets/application.css"}
  %body
    .main
      = yield

    %a(title="Home"){:href => "/"} Home
    %a(title="Hello Russ"){:href => "/hello/russ"} Hello Russ